/* You can add global styles to this file, and also import other style files */
body.night {
    background-color: black;
    transition: background-color 8s;
}

body {
    transition: background-color 8s;
}